<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/behavior.js" defer></script>
  </head>
  <body>
    <%- include('list.ejs', {title: "Lists", css_id: "list-of-lists"}); %>
    <%- include('list.ejs', {title: "Some List", css_id: "todo-list"}); %>
  </body>
</html>
