:root {
  --color-900: rgb(50, 48, 49); 
  --color-800: rgb(61, 59, 60);
  --color-400: rgb(127, 121, 121);
  --color-200: rgb(193, 189, 179);
  --color-secondary: rgb(95, 91, 107);
  --color-red-alert: rgb(235, 85, 65);

  color: white;
}

html {
  background-color: var(--color-secondary);
  background-color: var(--color-900);
}

body {
  display: flex;
  margin: 0;
  padding: 2rem 1rem;
  height: 90vh;
}

section {
  padding-bottom: 0.5rem;
}

.scrollable {
  max-height: 100%;
  overflow-y: auto;
  margin-bottom: 0.4rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.list {
  background-color: var(--color-200);
  background-color: var(--color-secondary);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
}

.list h1 {
  text-align: left;
  margin: 0;
  margin-top: 1rem;
  padding-left: 0.4rem;
}

.new {
  width: 100%;
  justify-items: center;
}

.new:hover {
  border-style: outset;
  border-radius: 0.5rem;
  border-width: 1px;
}

.new button {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0;
  margin-bottom: 0;
  background-color: var(--color-secondary);
  border: none;
  pointer-events: none;
}

.bi-plus-lg {
  fill: white;
  width: 2rem;
  height: 2rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid;
  border-color: var(--color-400);
  border-width: 1px;
  
  margin-top: 0.2rem;
  padding-left: 0.4rem;

}

.item div {
  display: flex;
}

.item-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkbox {
  margin: 0.1rem;
  background-color: var(--color-secondary);
  fill: white;
}

.item-label {
  background-color: var(--color-400);
  width: 100%;
  height: auto;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border-style: none;
  margin-bottom: 0.2rem;
  margin-right: 0.4rem;
  resize: none;
}

.item-label:disabled {
  background-color: var(--color-secondary);
  border: none;
  color: white;
  pointer-events: none;
}


.item-icons {
  display: flex;
  align-items: center;
}

button {
  background-color: var(--color-secondary);
  border: none;
  padding: 0.4rem;
  display: flex;
}

.bi-square, .bi-trash-fill, .bi-pencil-square, .bi-save {
  fill: white;
  height: 1.1rem;
  width: 1.1rem;
}

.bi-check-lg {
  fill: greenyellow;
  height: 1.1rem;
  width: 1.1rem;
}

#todo-list {
  flex-grow: 1;
  margin: 0;
  margin-right: auto;
  margin-left: 1.5rem;
  
  max-width: 40rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#todo-list h1 {
  text-align: center;
}

.border-against-body {
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-400);
}

.non-clickable {
  pointer-events: none;
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}
